/* Estilos para los paneles */
.panel {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.panel h2 {
  font-size: 18px;
  color: #343a40;
  margin-bottom: 10px;
}

.panel p {
  font-size: 16px;
  color: #6c757d;
}

/* Estilos específicos para cada tipo de panel */
#total-categories-panel {
  background-color: #fff;
}

#total-products-panel {
  background-color: #f2f8fd;
}

#total-users-panel {
  background-color: #f5f7f9;
}
