<!DOCTYPE html>
<html lang="es">
<head>
    <!--Acá ponemos metadatos y enlazamos archivos necesario para la pag-->
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moda Zapatillas</title>
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
     
    </header> 
    <main>
        <!--Contenido principal que no se repite en todas las paginas-->
        <section>  <!--Detalle del producto-->
            <article>

            </article>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>