main{
    width: 100%;
    max-width: 100vw;
    background-color: rgb(235, 234, 234);
}

/*====== Products ======*/
  .container products-wrapper {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: unset;
  }
  .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .contenedor > div {
    width: 50%;
  }
  .products-title {
    font-weight: bold;
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
  }

  .product-box {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
  }
  
  .product-box a {
    display: block;
  }
  
  .product-box_image {
    border-bottom: 1px solid var(--light-gray);
    max-width: 100%; /* Hace que la imagen sea responsive y se ajuste al ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina el espacio extra generado por la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente en el contenedor */
  }
  
  .product-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .product-box_data h2 {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0;
  }
  
  .product-box_data span {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--green);
    margin: 0 0 0 10px;
  }
  
  .product-box_data p {
    font-size: 1.5em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
  }
  
  .product-box_data i {
    color: var(--green);
    font-size: 1.8em;
    width: 35px;
    height: 35px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
  }
  
  .product-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .product-box:hover p {
    height: 40px;
    margin-top: 15px;
  }
  
  .product-box:hover i {
    transform: rotate(360deg);
    box-shadow: 0 0 5px var(--green);
  }
.column {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding: 10px; /* Espacio interno dentro de las columnas */
    border: 1px solid #708f8f; /* Borde opcional para visualización */
    text-align: center;
}
.column-centered {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.row {
    margin-right: -6px;
    margin-left: -6px;
}
.row {
    display: -ms-flexbox;
    flex: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row-centered {
  display: flex;
  justify-content: center;
}
.product-envio {
    display: block;
    color:#00b9bd;
    font-weight: bold
  }

.h4-oferta {
    color: #517878; /* Gris oscuro */
    font-weight: bold; /* Negrita */
    text-align: justify; /* Centrado */
    text-transform: uppercase;
}

.h4-informacion {
    color: #333333; /* Gris oscuro */
    font-weight: bold; /* Negrita */
    text-align: justify; /* Centrado */
}
.h4-informacion-mayuscula {
    color: #333333; /* Gris oscuro */
    font-weight: bold; /* Negrita */
    text-align: justify; /* Centrado */
    text-transform: uppercase;
}
span {
  color: #004853; /* Color inicial del span */
}

span:hover {
  color: #fb6900; /* Color al pasar el cursor sobre el span */
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
  overflow-x: auto;
  color: #fb6900;
  font-weight: bold; /* Negrita */  
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

li:active {
  background-color: #004853;
  color: #fb6900;
  font-weight: bold; /* Negrita */  
}

.img-table {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* Estilos para la lista de tamaños */
.variation-attribute-size {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #b8d9d9;
}

.variation-attribute-size.selected {
  border: 2px solid blue;
  padding: 8px;
  margin: 4px;
  background-color: #00b9bd;
}

/* Estilos para la información de tamaños dentro del tooltip */
.tooltip {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* Estilos para el botón de Probador Virtual */
.vfr__button--clean {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#ventanaEmergente {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
}

/* Estilo del botón */
.button-ventana-emergente {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.button-ventana-emergente:hover {
  background-color: #f63700;
  color: black;
}

 .quantity-selector{
  width: 50px;
  height: 50px;
  background: #fff 0 0 no-repeat padding-box;
  border: 5px solid #cacaca;
  border-radius: 10px;
  padding: 3px 4px 4px;
  min-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.qty {
  background-color: transparent;
  color: #121212;
  border: none;
  margin: auto
}

.quantity-selector-title {
  font-weight: bold; /* Negrita */
}

.quantity-selector-wrapper .quantity-selector input[type=number] {
  border: none;
  height: 100%;
  padding: 4px 0 0;
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  color: #121212;
  pointer-events: none;
}
input[type=number] {
  color: #121212;
  width: 100%;
  height: 30px;
  font-size: 16px;
  border: none;
  text-align: center;
  background-color: transparent;
}

.btn-celeste{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #007e80;
  color: #333;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-celeste:hover {
  background-color: #fb6900;
  color: #fff;
}

.btn-celeste:active {
  transform: translateY(2px);
}



  @media screen and (max-width: 768px) {
    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto 
    {
        position: relative;
        width: 100%;
        padding-right: 6px;
        padding-left: 6px;
    }
  }
  @media (max-width: 768px) {
      .contenedor {
        flex-direction: column;
      }
      
      .column {
        min-width: 100%;
      }
}


@media screen and (max-width: 600px) {
  table {
      width: 100%;
  }
  
  table, th, td {
      display: block;
  }
  
  th, td {
      text-align: center;
  }
}
/*
section{
    width: 85%;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.articles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 5px;
}


article{
    background-color: white;
    width: 250px;
    padding: 15px;
    position: relative;

    display: flex;
    flex-direction: column;
}

.fa-heart{
    position: absolute;
    top: 10px;
    right: 10px;
}

article > img.img-product{
    width: 100px;
    margin: auto;
}

.similar-products{
    margin: 10px 0px;
}

h2{
    font-weight: 600;
}

.product-title{
    font-weight: 300;
    font-size: 16px;
}

.description{
    display: none;
}

.shipping{
    color: rgb(125, 196, 18);
}

.price{
    font-size: 24px;
    font-weight: 600;
}
*/