<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
<body>
    <!-- encabezado -->
    <%- include('partials/header') %>
    <!-- parte de los preductos -->
    <main>
        <div class="contenedor-main">
            <div class="contenedor-productos">
                <div class="productos">
                    <img class="producto-imagen" src="/img/imgProductDetail/mz_modelo_alpha_orange_men.png" alt="">
                    <div class="producto-descripcion">                        
                        <p class="titulo">zapatilla</p>
                        <p class="precios">$<i class="fa-solid fa-cart-plus"></i></p>                       
                    </div>
                </div>
                <div class="productos">
                    <img class="producto-imagen" src="/img/imgProductDetail/mz_modelo_urban_kids.png" alt="">
                    <div class="producto-descripcion">                        
                        <p class="titulo">zapatilla</p>
                        <p class="precios">$<i class="fa-solid fa-cart-plus"></i></p>                       
                    </div>
                </div>
                <div class="productos">
                    <img class="producto-imagen" src="/img/imgProductDetail/mz_modelo_invisible_white_woman.png" alt="">
                    <div class="producto-descripcion">                        
                        <p class="titulo">zapatilla</p>
                        <p class="precios">$<i class="fa-solid fa-cart-plus"></i></p>                       
                    </div>
                </div>
                <div class="productos">
                    <img class="producto-imagen" src="/img/imgProductDetail/mz_modelo_nb_kids.png" alt="">
                    <div class="producto-descripcion">                        
                        <p class="titulo">zapatilla</p>
                        <p class="precios">$<i class="fa-solid fa-cart-plus"></i></p>                       
                    </div>
                </div>

            </div>
            <div class="hombres-mujeres">
                <a href="">
                    <img src="/img/imgProductDetail/hombres1.jpg" alt="">    
                </a>
                <a href="">
                    <img src="/img/imgProductDetail/mujeres.jpg" alt="">
                </a>  
            </div>
            <div class="descuentos-promociones">
                
                <a href="">
                    <img src="/img/imgProductDetail/descuentos.jpg" alt="">
                   
                </a>

            </div>
        </div>
    </main>
    <!-- pie de pagina -->
    <%- include('partials/footer') %>
    
</body>
</html>