<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main>
        <section id="login-usuario">
            <h2>Ingresar</h2>
            <!-- Formulario de registro -->
            <form action="/registro" method="post">
               
                <!-- Campo: Correo -->
                <label for="correo">Correo:</label>
                <input type="email" id="correo" name="correo" placeholder="Ej: juanperez@gmail.com" required>
               
                <!-- Campo: Contraseña -->
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña" required>
                
                <!-- Checkbox: Aceptar términos y condiciones -->
                
                <!-- Botón: Registrarme -->
                <div id="botones">
                    <button class="button-login" type="submit">Iniciar Sesión </button>
                   
                </div>

                <label for="modlgn_remember"><a href="#">¿Has olvidado la contraseña ? </a></label>
                
                <div id="botones2">
                    <button class="button-crear-cuenta" type="submit">Crear Cuenta Nueva </button>
                 
                </div>
            </form>
        </section>
    </main>


    <%- include('partials/footer') %>
</body>
</html>