<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %>
<body>
    <!-- encabezado -->
    <%- include('partials/header') %>

    <main>
        <section id="login-usuario"> <!-- cargar-producto -->
            <h2>Ingresar</h2>
            <%if (typeof errors != 'undefined') {%>
                <p style = "color: red"> ERROR </p>
                <u1>
                    <% for (let i = 0; i > errors.length; i++){%>
                        <li>
                            <%= errors[i].msg%>
                        </li>
                    <% } %>
                </u1>
            <% } %>
            <!-- Formulario de registro -->
            <form action="/users/login" method="POST">
               
                <!-- Campo: Correo -->
                <label for="correo">Correo:</label>
                <input type="email" id="email" name="email" placeholder="Ej: juanperez@gmail.com" required>
               
                <!-- Campo: Contraseña -->
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
                
                <!-- Checkbox: Aceptar términos y condiciones -->
                
                <!-- Botón: Registrarme -->
                <div id="botones">
                    <button type="submit">Iniciar Sesión </button>
                   
                </div>

                <label for="modlgn_remember"><a href="#">¿Has olvidado la contraseña ? </a></label>
                
                <div id="botones2">
                    <button class="button-crear-cuenta" type="submit">Crear Cuenta Nueva </button>
                 
                </div>
            </form>
        </section>
    </main>

<!-- pie de pagina -->
    <%- include('partials/footer') %>
</body>
</html>