<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %>
<body>
    <!-- encabezado -->
    <%- include('partials/header') %>
    <form action="/products/store" method="POST">
        <div class="label-form">
            <label for="name">Nombre del producto:
            </label>
            <input type="text" id="product_name" name="product_name" >
        </div>
        <div class="label-form">
            <label for="brand">Marca del producto:
            </label>
            <input type="text" id="product_brand" name="product_brand" >
        </div>
        <div class="label-form">
            <label for="category">Caracteristicas del producto:
            </label>
            <input type="text" id="product_detail" name="product_detail" >
        </div>
        <div class="label-form">
            <label for="category">Categoría del producto:
            </label>
            <input type="text" id="product_category" name="product_category" >
        </div>
        <div class="label-form">
            <label for="price">Precio del producto:
            </label>
            <input type="text" id="prduct_price" name="product_price" >
        </div>
        <div class="label-form">
            <label for="discount">Descuento del producto:
            </label>
            <input type="text" id="product_discount" name="product_discount" >
        </div>
        <div class="label-form">
            <label for="avatar">Imagen</label>
            <input type="file" name="product_img" id="product_img">
        </div>
        <button type="submit">Crear nuevo producto</button>
        </button>
    </form>







    <!-- pie de pagina -->
    <%- include('partials/footer') %>
</body>
</html>