<!DOCTYPE html>
<html lang="es">
<head>
    <!--Acá ponemos metadatos y enlazamos archivos necesario para la pag-->
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moda Zapatillas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <!-- Encabezado -->
    <header>
        <div class="contenedor-header">
            <div class="logo">
                <a href="/"><img src="/img/modaFinal1.png"></a>
            </div>
            <form action="#" method="GET" class="buscador">
                <input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="buscador-input">
                <button type="submit" class="buscador-boton"><i class="fas fa-search"></i></button>
            </form>
            <div class="registro">
                <a href="/register">registrar<i class="fa-regular fa-address-card"></i></a>
                <a href="/login">ingresar<i class="fa-regular fa-user"></i></a>
            </div>
            
        </div>
        <div class="nav">
            <nav>
                <a href="#" onclick="">HOME</a>
                <a href="#" onclick="">HOMBRE</a>                
                <a href="#" onclick="">MUJERE</a>
                <a href="#" onclick="">OFERTAS</a>                
            </nav>
            <div class="hambur">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            
        </div>

    </header>
    <main>
        <section>  <!--Detalle del producto-->
            <article>
                <div>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <img class="img-product" src="/img/imgProductDetail/mz_modelo_alpha_orange_men.png" alt="Modelo hombre ALPHA-ORANGE">
                <header>
                    <h3 class="product-title">Zapatilla ALPHA ORANGE MEN </h3>
                </header>

                <div class="description">
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nam corporis quisquam vel ea laudantium dolor sequi error. Itaque porro consequuntur labore voluptas minima aut nulla corrupti placeat libero id voluptate a nisi quidem dolore dignissimos reprehenderit, eveniet error optio nihil ea nam exercitationem nemo reiciendis sunt? Aperiam, obcaecati atque?</p> -->
                    <p> <strong>Zapatillas para hombre deportivas ultra resistentes </strong>Compra por aquí <em> Obtené este producto ya </em> Hace click
                        <span>Las mejores Zapatillas</span> No importa por donde estes, el modelo ALPHA siempre te hará sentir comodo. A esto sumale que su color nunca pasara desapercibido.
                        Animate a la experiencia ALPHA ORANGE
                    </p>

                </div>

                    <p class="shipping">Envío gratis</p>
                    
                    <p class="price">$80.000</p>
            </article>
        </section>
        <section>
            <header class="similar-products">
                <h2>Productos similares</h2>
            </header>
                <article>
                    <div>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <img class="img-product" src="/img/imgProductDetail/mz_modelo_nature_unisex.png" alt="Nature UNISEX">
                    <header>
                        <h3 class="product-title">Modelo NATURE Unisex </h3>
                    </header>

                    <div class="description">
                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nam corporis quisquam vel ea laudantium dolor sequi error. Itaque porro consequuntur labore voluptas minima aut nulla corrupti placeat libero id voluptate a nisi quidem dolore dignissimos reprehenderit, eveniet error optio nihil ea nam exercitationem nemo reiciendis sunt? Aperiam, obcaecati atque?</p> -->
                        <p> <strong>Descripcion del producto </strong>Conseguilo aqui <em> Compra inmediata</em> Moda Zapatillas
                            <span> Tus Zapatillas Ya</span> Las zapatilla que necesitas al instante hace click</p>

                        </div>

                        <p class="shipping">Envío gratis</p>
                        
                        <p class="price">$67.000</p>


                </article>
                <article>
                    <div>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <img class="img-product" src="/img/imgProductDetail/mz_modelo_zoom_unisex.png" alt="Modelo Zoom Unisex">
                    <header>
                        <h3 class="product-title">Modelo Zoom Unisex </h3>
                    </header>

                    <div class="description">
                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nam corporis quisquam vel ea laudantium dolor sequi error. Itaque porro consequuntur labore voluptas minima aut nulla corrupti placeat libero id voluptate a nisi quidem dolore dignissimos reprehenderit, eveniet error optio nihil ea nam exercitationem nemo reiciendis sunt? Aperiam, obcaecati atque?</p> -->
                        <p> <strong>Descripcion del producto </strong>Conseguilo aqui <em> Compra inmediata</em> Moda Zapatillas
                            <span> Tus Zapatillas Ya</span> Las zapatilla que necesitas al instante hace click</p>

                        </div>

                        <p class="shipping">Envío gratis</p>
                        
                        <p class="price">$75.000</p>


                </article>

                <article>
                    <div class="heart">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <img class="img-product" src="/img/imgProductDetail/mz_modelo_run_men_black.png" alt="Run Men">
                    <header>
                        <h3 class="product-title">Modelo RUN Men</h3>
                    </header>

                    <div class="description">
                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nam corporis quisquam vel ea laudantium dolor sequi error. Itaque porro consequuntur labore voluptas minima aut nulla corrupti placeat libero id voluptate a nisi quidem dolore dignissimos reprehenderit, eveniet error optio nihil ea nam exercitationem nemo reiciendis sunt? Aperiam, obcaecati atque?</p> -->
                        <p> <strong>Nombre del producto </strong>Producto <em> Consegui tus zapatillas</em>Compra Aquí
                            <span>Adquiri este producto por aqui</span> Stock ilimitado para envío inmediato</p>

                        </div>

                        <p class="shipping">Envío gratis</p>
                        
                        <p class="price">$45.000</p>


                </article>

            </div>
        </section>
    </main>
    <!--Pie de pagina-->
    <footer>
        <div class="info-footer">
            <p>deccion</p>
            <p>coopy</p>

        </div>
        <div class="redes-footer">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-square-whatsapp"></i></a>   
        </div>
    </footer>
</body>
</html>