<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head') %>
<body>
    <!-- encabezado -->
    <%- include('partials/header') %>
<main>
<section>
    <h2>
    <div>
    Producto    
    </div>
    <div>
    Descripción    
    </div> 
    <div>
    Precio  
    </div>
    <div>
    Cantidad 
     
    </div>
    <div>
    Subtotal  
    </div>
</h2>
<h3><div>
    TOTAL PRODUCTOS  $
    </div>
    <div>
    GASTOS DE ENVIO  $
    </div>
    <div>
    IMPUESTOS  $
    </div>
    <div>
    TOTAL  $
    </div>   
</h3>
</section>
</main>
<!-- pie de pagina -->
<%- include('partials/footer') %>
</body>

</html>
