<footer>
    <div class="info-footer">
        <p>deccion</p>
        <p>coopy</p>

    </div>
    <div class="redes-footer">
        <span>
            <a href="#"><i class="fa-brands fa-square-facebook">/modaZapatillas</i></a>
        </span> 
       <span>
            <a href="#"><i class="fa-brands fa-square-instagram">@modaZapatillas</i></a>
        </span> 
       <span>
            <a href="#"><i class="fa-brands fa-square-whatsapp">(+54)3884763633</i></a>   
        </span> 
    </div>
</footer>