<header>
    <div class="contenedor-header">
        <div class="logo">
            <a href="/"><img src="/img/modaFinal1.png"></a>
        </div>
        <form action="#" method="GET" class="buscador">
            <input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="buscador-input">
            <button type="submit" class="buscador-boton"><i class="fas fa-search"></i></button>
        </form>
        <div class="registro">
            <a href="/register">registrar<i class="fa-regular fa-address-card"></i></a>
            <a href="/login">ingresar<i class="fa-regular fa-user"></i></a>
        </div>

    </div>
    <div class="nav">
        <nav>
            <a href="#" onclick="">INICIO</a>
            <a href="#" onclick="">HOMBRE</a>                
            <a href="#" onclick="">MUJERES</a>
            <a href="#" onclick="">NIÑOS</a>
            <a href="#" onclick="">OFERTAS</a>            
        </nav>
        <div class="hambur">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="carrito">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>

    </div>

</header>